{% do headTitle().append(translate("txt-mailing") ) %}
{% do headTitle().append(translate("txt-edit-transactional-%s")|format(transactional)) %}

<h1>{{ translate("txt-edit-transactional-%s")|format(transactional) }}</h1>

{% include 'mailing/partial/form/transactional' %}
