{% do headTitle().append(translate("txt-admin") ) %}
{% do headTitle().append(translate("txt-edit-cluster-group")) %}

<h1>{{ translate("txt-edit-cluster-group") }}</h1>

{% include 'cluster/partial/form/cluster/group' %}