{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-storage-location")) %}

<h1>{{ translate("txt-edit-storage-location") }}</h1>

{% include 'reporting/partial/form/storage-location' %}

