<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" convertErrorsToExceptions="true"
         convertNoticesToExceptions="true" convertWarningsToExceptions="true" verbose="true" stopOnFailure="false"
         processIsolation="false" backupGlobals="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
    <extensions>
        <extension class="\ApplicationTest\ByPassFinalHook"/>
    </extensions>
    <testsuites>
        <testsuite name="ClusterBackend">
            <directory>./module/admin/test</directory>
            <directory>./module/cluster/test</directory>
            <directory>./module/deeplink/test</directory>
            <directory>./module/mailing/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
