<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
>
    <extensions>
        <extension class="\ApplicationTest\ByPassFinalHook"/>
    </extensions>
    <testsuites>
        <testsuite name="ClusterBackend">
            <directory>./module/admin/test</directory>
            <directory>./module/cluster/test</directory>
            <directory>./module/deeplink/test</directory>
            <directory>./module/mailing/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
