{% do headTitle().append(translate("txt-admin") ) %}
{% do headTitle().append(translate("txt-edit-role-%s")|format(role)) %}

<h1>{{ translate("txt-edit-role-%s")|format(role) }}</h1>

{% include 'admin/partial/form/role' %}