{% do headTitle().append(translate("txt-admin") ) %}
{% do headTitle().append(translate("txt-new-role")) %}

<h1>{{ translate("txt-new-role-title") }}</h1>
<p>{{ translate("txt-new-role-explanation") }}</p>

{% include 'admin/partial/form/role' %}