{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-distribution-list")) %}

<h1>{{ translate("txt-edit-distribution-list") }}</h1>

{% include 'mailing/partial/form/distribution-list' %}

