<div class="container">
    <h1>{{ translate("txt-access-denied") }}</h1>

    {% if error == 'error-unauthorized-controller' %}
        <small>
            {% set message = translate("txt-internal-identification-no-access-to-controller-%s-with-action:-%s")|format(controller,action)|raw %}
        </small>
    {% elseif error == 'error-unauthorized-route' %}
        <small>
            {% set message = translate("txt-internal-identification-no-access-to-route:-%s")|format(route)|raw %}
        </small>
    {% else %}
        <small>
            {% set message = translate("txt-internal-error") %}
        </small>
    {% endif %}

    {{ ztbalert().danger(message)|raw }}
</div>