{% do headTitle().append(translate("txt-admin")) %}
{% do headTitle().append(translate("txt-edit-mailing-%s")|format(mailing)) %}

<h1>{{ translate("txt-edit-mailing-%s")|format(mailing) }}</h1>

{% if mailing.dateDeleted %}
    {{ lbs5alert().danger(translate("txt-mailing-has-been-deleted-on-%s")|format(mailing.dateDeleted|date("d-m-Y")))|raw }}
{% endif %}

{% include 'mailing/partial/form/mailing' %}